%sf-regular {
  font-family: "SFProDisplay-Light", sans-serif;
  font-weight: 400px;
}
%sf-semibold {
  font-family: "SFProDisplay-Light", sans-serif;
  font-weight: 700px;
}

%ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}
%ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
%ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}
