@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    z-index: 11;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 30px;
        text-transform: uppercase;
        line-height: 17px;
        font-size: 15px;
        @extend %ubuntu-medium;
    }
    &__btn {
        color: #fff;
        background-color: transparent;
        outline: none;
        border: 1px solid #fff;
        padding: 6px 28px;
        cursor: pointer;
        border-radius: 3px;
        margin-right: 8px;
        &:hover {
            background-color: #fff;
            transition: background-color 0.5s;
            color: #1c1c1c;
        }
    }
    &__phone {
        font-size: 16px;
        line-height: 18px;
        @extend %ubuntu-bold;
    }
}
.menu {
    &__list-item {
        display: inline-block;
        & + .menu__list-item {
            padding-left: 20px;
        }
    }
}
.top {
    background-image: url("../images/top-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: radial-gradient(
            45.97% 54.43% at 50% 45.57%,
            rgba(23, 26, 28, 0) 50.28%,
            rgba(23, 26, 28, 0.00225974) 50.29%,
            rgba(4, 5, 5, 0.820343) 58.72%,
            rgba(5, 5, 6, 0.792703) 80.08%,
            #000000 87.89%
        );
    }
    &__wrapper {
        position: relative;
        display: flex;
        align-items: flex-end;
    }

    &__title {
        font-size: 96px;
        line-height: 1.15;
        @extend %sf-semibold;
    }
    &__text {
        max-width: 325px;
        margin: 25px 0 35px;
        align-self: center;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &__social-item {
        display: inline-block;
        margin: 0 25px;
    }
    &__social-link {
        opacity: 0.5;
        transition: all 0.5s;
        &:hover {
            opacity: 1;
        }
    }
}

// -----------------------------------------
// ---------------------section ----product
// -----------------------------------------
.product {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__title {
        font-size: 44px;
        line-height: 53px;
    }
    &__text {
        max-width: 440px;
        p {
            margin-bottom: 30px;
        }
    }
    &__slider-box {
        position: relative;
        padding-top: 110px;
    }
    &__slider {
        max-width: 560px;
        &::before {
            width: 100%;
            height: 100%;
            border: 4px solid #ffffff;
            content: "";
            position: absolute;
            top: -15px;
            left: 15px;
        }
    }
    &__slider-text {
        font-size: 24px;
        line-height: 28px;
        position: absolute;
        text-align: right;
        @extend %ubuntu-medium;
        width: 281px;
        z-index: 1;
        bottom: 30px;
        left: -260px;
    }
}
.slider-btn {
    padding: 16px 26px;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: -50px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    svg {
        stroke: black;
    }
    &__left {
        right: 65px;
    }
    &.slick-disabled {
        background-color: black;
        svg {
            stroke: #fff;
        }
    }
}
// -----------------------------------------
// ---------------------section ----benefits
// -----------------------------------------
.benefits {
    &__items {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        margin-left: 30px;
    }
    &__item {
        margin-bottom: 100px;
        display: flex;
        align-items: flex-end;
        &:nth-child(even) {
            transform: translateY(20px);
            margin-left: 37px;
        }
    }
    &__item-1,
    &__item-3 {
        position: relative;
        &:before,
        &::after {
            content: "";
            position: absolute;
            background-position: 0 0;
            background-repeat: no-repeat;
        }
    }
    &__item-1 {
        &::before {
            height: 100px;
            width: 250px;
            background-image: url(../images/line-1.png);
            top: 30px;
            right: -60px;
        }
    }
    &__item-3 {
        &::before {
            height: 65px;
            width: 463px;
            background-image: url(../images/line-2.png);
            top: -64px;
            right: -60px;
        }
        &::after {
            height: 65px;
            width: 463px;
            background-image: url(../images/line-1.png);
            top: 63px;
            right: -273px;
        }
    }
    &__num {
        font-size: 36px;
        line-height: 41px;
        @extend %ubuntu-bold;
        margin-right: 10px;
    }
    &__img {
        position: relative;
        margin-right: 32px;
        &::before {
            content: "";
            width: 191px;
            height: 126px;
            position: absolute;
            border: 2px solid #fff;
            left: 15px;
            bottom: 15px;
            z-index: -1;
        }
    }
    &__info {
        width: 300px;
    }
    &__info-title {
        width: 123px;
        margin-bottom: 10px;
        font-size: 21px;
        line-height: 24px;
        @extend %ubuntu-medium;
    }
    &__info-text {
        font-size: 15px;
        line-height: 1.3;
        @extend %ubuntu-light;
    }
}

@import "media";
